GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>

TRACELOOP_BASE_URL=https://tracing.scorecard.io/otel
TRACELOOP_HEADERS=Authorization=Bearer%20ak_<YOUR_SCORECARD_API_KEY>
SCORECARD_PROJECT_ID=<YOUR_SCORECARD_PROJECT_ID>